**.pyc
**.so
build/
dist/
docs/_build
gmpy2.egg-info/
MANIFEST
.vscode/
# Ignore files cached by Hypothesis (including examples directory so far)
.hypothesis/
# Ignore any of the Windows libraries that are copied to gmpy2 directory.
gmpy2/gmp.h
gmpy2/gmp.lib
gmpy2/libgcc_s_seh-1.dll
gmpy2/libgmpy2_*.dll
gmpy2/libgmp-10.dll
gmpy2/libmpc-3.dll
gmpy2/libmpfr-6.dll
gmpy2/libwinpthread-1.dll
gmpy2/mpc.h
gmpy2/mpc.lib
gmpy2/mpfr.h
gmpy2/mpfr.lib
# per-project directories for virtual environments
venv/
.venv/
