name: Build Wheels

on: [push, pull_request]

jobs:
  build_wheels:
    name: Build wheel on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

    steps:
      - uses: actions/checkout@v3

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.12.0
        env:
          CIBW_PRERELEASE_PYTHONS: True
          CIBW_SKIP: pp*
          CIBW_BEFORE_BUILD: bash scripts/before_ci_build.sh
          CIBW_TEST_EXTRAS: tests
          CIBW_TEST_COMMAND: python {package}/test/runtests.py

      - uses: actions/upload-artifact@v3
        with:
          name: wheels
          path: ./wheelhouse

  build_wheels_macos_arm64:
    name: Build wheel on ${{ matrix.os }} arm64
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-12]

    steps:
      - uses: actions/checkout@v3

      - name: Build wheel
        uses: pypa/cibuildwheel@2.16.0
        env:
          CIBW_PRERELEASE_PYTHONS: True
          CIBW_BEFORE_BUILD: bash scripts/before_ci_build_apple_silicon.sh
          CIBW_SKIP: pp*
          CIBW_ARCHS_MACOS: arm64
          CIBW_TEST_EXTRAS: tests
          CIBW_TEST_COMMAND: python {package}/test/runtests.py

      - uses: actions/upload-artifact@v3
        with:
          name: wheels
          path: ./wheelhouse
