name: Build Wheels

on:
  push:
    branches:
      - master
    paths:
      - 'build-wheels.conf'

jobs:
  build_wheels:
    name: Build wheel on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04, macos-latest]
        python-version: ['3.7']

    steps:
      - uses: actions/checkout@v1

      - uses: actions/setup-python@v1
        name: Install Python
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install cibuildwheel
        run: |
          python -m pip install cibuildwheel

      - name: Build wheel
        run: |
          python --version
          python -m cibuildwheel --output-dir wheelhouse
        env:
          CIBW_PRERELEASE_PYTHONS: True
          CIBW_BEFORE_BUILD: bash scripts/before_ci_build.sh
          CIBW_SKIP: pp*

      - uses: actions/upload-artifact@v1
        with:
          name: wheels
          path: ./wheelhouse
