name: Build Wheels

on: [push, pull_request]

jobs:
  build_wheels:
    name: Build wheel on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm, macos-15-intel, macos-15,
             windows-2022]
        msystem: [ucrt64]
        menv: [ucrt-x86_64]
        include:
          - os: windows-11-arm
            msystem: clangarm64
            menv: clang-aarch64
    steps:
      - uses: actions/checkout@v5
      - uses: msys2/setup-msys2@v2
        name: Setup msys2
        with:
          install: >-
            mingw-w64-${{ matrix.menv }}-gcc
            diffutils
            m4
            make
            patch
            autotools
          msystem: ${{ matrix.msystem }}
          path-type: inherit
        if: contains(matrix.os, 'windows')
      - name: Build wheels
        uses: pypa/cibuildwheel@v3.2.1
      - uses: actions/upload-artifact@v5
        with:
          name: wheels-${{ matrix.os }}
          path: ./wheelhouse/
  merge:
    runs-on: ubuntu-24.04
    needs: build_wheels
    steps:
      - name: Merge Wheels
        uses: actions/upload-artifact/merge@v5
        with:
          name: wheels
          pattern: wheels-*
          delete-merged: true
