name: pip_install_gmpy2
on:
  pull_request:
    branches:
      - master
    paths:
      - 'src/**'
      - 'test/**'
      - 'test_cython/**'
      - '**.py'

  push:
    branches:
      - master
    paths:
      - 'src/**'
      - 'test/**'
      - 'test_cython/**'
      - '**.py'
      - '.github/workflows/**.yml'

jobs:
  osx:
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.7]
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-python@master
        with:
          python-version: ${{ matrix.python-version }}
      - run: pip install --upgrade pip
      - run: pip --verbose install -e .
      - run: python test/runtests.py

  linux:
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.7]
        os: [ubuntu-16.04, ubuntu-18.04]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-python@master
        with:
          python-version: ${{ matrix.python-version }}
      #   Don't build documentation by default.
      # - run: sudo apt-get install libmpc-dev texlive texlive-latex-extra latexmk
      - run: sudo apt-get install libmpc-dev
      - run: pip install --upgrade pip
      - run: pip --verbose install -e .
      - run: python test/runtests.py

  windows:
    strategy:
      fail-fast: false
      matrix:
        python-version: [2.7, 3.7]
    runs-on: windows-latest
    defaults:
      run:
        shell: cmd /C CALL {0}
    steps:
      - uses: actions/checkout@master
      - uses: goanpeca/setup-miniconda@v1
        with:
          miniconda-version: 4.6.14
          auto-activate-base: false
          channels: "conda-forge"
          python-version: ${{ matrix.python-version }}

      - name: Install libraries
        run: conda install mpir "mpfr>=4" mpc conda=4.6.14

      - name: Activate test
        run: activate test
        run: python --version

      - name: Compile gmpy2
        run: python setup.py install build_ext --mpir --static -I%CONDA_PREFIX%\Library\include -L%CONDA_PREFIX%\Library\lib

      - name: Run tests
        run: cd test && python runtests.py

